* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img {
    max-width: 100%;
    height: auto;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;


    background-image: url(sfondo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}


header {
    padding: 20px;
    display: flex;
    justify-content: center;
}


.navbar-container {
    background-color: #fff550;
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding: 10px 30px;
    border-radius: 50px;


    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}


.logo img {
    height: 60px;
    width: auto;
    display: block;
}


.nav-links {
    display: flex;
    gap: 20px;
}


.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: hug (61px);
}


.hero {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto;
    color: white
}


.hero-title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    line-height: 1.2;
}


.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}


.text-large {
    flex: 1;
    font-size: 1.5rem;
    line-height: 1.4;
}


.text-small {
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
    opacity: 0.9;
}


@media screen and (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }


    .hero-content {
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    .navbar-container{
        flex-direction: column;
        border-radius: 20px;
        padding: 20px;
    }


    .nav-links {
        margin-top: 15px;
        gap: 10px;
        font-size: 14px;
    }
}


@media screen and (min-width: 768px) {


}


@media screen and (min-width: 1014px) {
   
}