* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

header {
    position: relative;
}

.navbar-container {
    position: fixed;
    top: 28 px; /*distanza dal bordo superiore*/
    left: 48%;
    transform: translateX(-50%);
    width: 1344px;
    height: 83.64;
    max-width: 1300px;
    background-color: #f4eb4f;
    border-radius: 49px; /*angoli arrotondati*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px 20px 48px;
    gap: 10px;
    top: 20px;
    right: 48px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    z-index: 1000;
}

.logo img {
    height: 28px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero {
    height: 100vh;
    padding: 200px 60px 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    background-image: url("sfondo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.hero-title {
    width: 1192px;
    height: 176px;
    font-size: 104px;
    font-weight: 800;
    line-height: 85%;
    letter-spacing: -2%;
    max-width: 900px;
    margin-bottom: 50px;
    color: white;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    max-width: 1200px;
}

.text-large {
    max-width: 600px;
    font-size: 22px;
    line-height: 1.4;
}

.text-small {
    max-width: 420px;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.95;
}

@media (max-width: 900px) {

    .navbar-container {
        padding: 18px 30px;
    }

    .hero {
        padding: 140px 30px 40px 30px;
    }

    .hero-title {
        font-size: 48px;
    }

    .hero-content {
        flex-direction: column;
        gap: 30px;
    }
}
